@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
html{
    font-size: 14px;
}
body {
    min-height: 100vh;
    min-width: 100%;
    color: aliceblue;
    font-family: "Raleway",sans-serif;
    background-color: hsl(229, 57%, 11%);
    background-image: url(images/bg-desktop.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    justify-content: center;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: -1;
}
.hover_box{
    width: 11rem;
    height: 4rem;
    background-color: aliceblue;
    position: absolute;
    z-index: 1;
    margin-left: 18%;
    margin-bottom: 13%;
    border-radius: 1rem;
    text-align: center;
}
.container{
    width: 65rem;
}
#left{
    background-color: hsl(228, 56%, 26%);
    border-top-right-radius: 8rem!important;
    border-radius: 1rem;
    height: 15rem;
}
#right{
    background-color: hsl(228, 56%, 26%);
    margin-top: 3rem;
    height: 12rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.p_1{
    margin-left: 2rem;
    margin-top: 3rem;
}
.asd{
    width: 100%;
    height: 100%;
    padding: 0%;
}
.box{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 25%;
    background-color: hsl(229, 57%, 11%);
    margin-left: 1.2rem;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons{
    margin-left: 2rem;
    margin-top: 2rem;
}
.logo{
    margin-left: 3.2rem;
    padding-top: 3rem;
}
.box_2{
    margin-left: auto!important;
    width: 80%;
    height: 1.5rem;
    margin:auto;
    background-color:hsl(229, 57%, 11%);
    border-radius: 2rem;
    display: flex;
    align-items: center;
}
.grad{
    background-image:linear-gradient(to right,hsl(6, 100%, 80%) , hsl(335, 100%, 65%));
    width: 81.5%;
    height: 1.1rem;
    border-radius: 2rem;
    margin-left: 0.7%;
    display: flex;
    align-items: center;
}
.end{
    background-color:antiquewhite;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin-left: auto;
    margin-right: 0.7%;
}
#p_2, #p_3{
    float: left;
    margin-left: 10%;
    font-size: smaller;
    margin-top: 0.5rem;
}
#p_2{
    margin-right: 58%;
}